.MainCategoryWrapper {
    padding: 0 0 4rem 0;
}
.Header {
    width: 77.5%;
    height: 6.1rem;
    line-height: 5.8rem;
    margin:0 auto;
    padding-top: 0.7rem;

    text-align: center;
    font-family: 'kopub-dotum-bold';
    font-size: 1rem;
}
.StoryComponentWrapper {
    width: 77.5%;
    margin: 0 auto;
}
