$def_font: "kopub-dotum-medium";

.commentContainer {
    width: 93%;
    margin: 0 auto 0 auto;
    padding: 1.2rem 0 0.9rem 1.6rem;
    box-shadow: 0 0 11.9px 2.9px rgba(0, 0, 0, 0.1);
    &:first-child {
        margin: 0 auto;
    }
    &:hover {
        transform: scale(1.015);
        transition: transform 0.4s;
    }
}
.commentContentWrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.1rem;
    margin-left: 1.7rem;
}
