$def_font: "kopub-dotum-medium";

.commentContainer {
    width: calc(100% - 3.2rem);
    margin: 0 auto 0 auto;
    padding: 1.2rem 1.6rem 0.9rem 1.6rem;
    box-shadow: 0 0 11.9px 2.9px rgba(0, 0, 0, 0.1);
    &:first-child {
        margin: 0 auto;
    }
    &:hover {
        transform: scale(1.015);
        transition: transform 0.4s;
    }
}
.commentContentWrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.1rem;
    margin-left: 1.7rem;
    width: calc(100% - 5.7rem);
}
.SirenWriteSubWrapper {
    margin-left: auto;
}
.SirenWriteSubWrapperForMobile {
    display: none;
    text-align: right;
}
@media (max-width: 730px) {
    .SirenWriteSubWrapper {
        display: none;
    }
    .SirenWriteSubWrapperForMobile {
        display: block;
    }
}
