$def_font: "kpub-dotum-medium";
$grey: #979797;

.SearchBoxWrapper {
    position: relative;
    margin-left: 2rem;
}
.SearchBox {
    font-family: $def_font;
    padding: 0 2.2rem 0.3rem 0.8rem;
    width: 8.2rem;
    outline: none;
    border: none;
    border-bottom: 1px solid $grey;
}
.SearchIcon {
    cursor: pointer;
    position: absolute;
    right: 0.8rem;
    top: 0.2rem;
    width: 0.9rem;
}
.SearchIcon img {
    width: 100%;
    height: 100%;
}
