@font-face{
    font-family: 'kopub-dotum-bold';
    src: url('./KoPubWorld-Dotum-Bold.woff') format('woff');
}
@font-face{
    font-family: 'kopub-dotum-light';
    src: url('./KoPubWorld-Dotum-Light.woff') format('woff');
}
@font-face{
    font-family: 'kopub-dotum-medium';
    src: url('./KoPubWorld-Dotum-Medium.woff') format('woff');
}
@font-face{
    font-family: 'firacode-reg';
    src: url('./FiraCode-Regular.woff') format('woff');
}