.commentContainer {
    margin: 5rem auto 0;
    width: calc(100% - 16.5rem);
}
.commentCount {
    font-family: "kopub-dotum-medium";
    font-size: 1rem;
    margin-bottom: 2rem;
}
.MainSubCommentWrapper {
    margin-bottom: 4rem;
}
.SubCommentWrapper {
    border-left: 1px solid black;
    width: 90%;
    margin-top: 1.3rem;
    margin-left: auto;
    margin-right: 2rem;
    padding-top: 0.1rem;
}
.MainSubCommentContainer {
    margin-top: 2rem;
    &:first-child {
        margin-top: 0;
    }
}
@media (max-width: 1100px) {
    .commentContainer {
        width: calc(100% - 18vw);
    }
}
// @media (max-width: 600px) {
@media (max-width: 730px) {
    .commentContainer {
        width: 88%;
        margin: 4rem auto 0 auto;
    }
    .SubCommentWrapper {
        margin-right: 0rem;
    }
}
