.commentContainer{
    margin: 5rem auto 0;
    width: calc(100% - 22.8rem);
}
.commentCount{
    font-family: 'kopub-dotum-medium';
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.SubCommentWrapper{
    border-left: 1px solid black;
    width: 90%;
    margin-top: 1.3rem;
    margin-left: auto;
    margin-right: 2rem;
    
    padding-top: 0.1rem;
}