// Difference
.writerNonAnony {
    font-size: 0.9rem;
    font-family: "kopub-dotum-light";
    align-self: flex-end;
}
.writerAnony {
    font-family: "kopub-dotum-light";
    align-self: flex-end;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 0 0 0.2rem 0.2rem;
    font-size: 0.8rem;
    width: 9.6rem;
}

// Common
.container {
    border: 1px solid #707070;
    background-color: white;
    width: calc(96% - 6.7rem);
    margin: 1rem auto 0 auto;
    min-height: calc(100% - 1.8rem);
    height: auto;
    border-radius: 0.4rem;
    padding: 0.75rem 1.2rem 0.5rem 1.2rem;
}
.header {
    display: flex;
    // padding: 0.9rem 1.3rem 0 1.4rem;
}
.date {
    font-size: 0.73rem;
    margin-left: 1.1rem;
    color: #989898;
    font-family: "kopub-dotum-light";
    align-self: flex-end;
    margin-bottom: 0.2rem;
}
.flexGrow {
    flex-grow: 1;
}
.emoji {
}
.commitBtn {
    font-family: "kopub-dotum-medium";
    padding: 0.1rem 0.9rem;
    font-size: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid #707070;
    background-color: white;
    cursor: pointer;
}
.content {
    border: none;
    display: block;
    max-width: 99%;
    min-width: 99%;
    min-height: 2.6rem;
    margin: 0.5rem auto 0 auto;
    box-sizing: border-box;
    outline: none;
    font-size: 0.8rem;
    font-family: "kopub-dotum-light";
}
@media (max-width: 730px) {
    .container {
        width: calc(96% - 2.9rem);
        margin-left: 1.6rem;
    }
}
@media (max-width: 530px) {
    .date {
        display: none;
    }
}
