.colorContainer {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.6);
    height: 8.2rem;
    padding: 2.8rem 0;
}
.container {
    border: 1px solid #707070;
    background-color: white;
    width: 96%;
    margin: 0 auto;
    height: 100%;
    border-radius: 0.4rem;
}
.header {
}
.writer {
}
.date {
}
.flexGrow {
}
.emoji {
}
.commitBtn {
}
