.colorContainer {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.6);
    min-height: 8.2rem;
    height:auto;
    padding: 2.5rem 0;
}
.container {
    border: 1px solid #707070;
    background-color: white;
    width: calc(96% - 2.7rem);
    margin: 0 auto;
    min-height: calc(100% - 1.8rem);
    height: auto;
    border-radius: 0.4rem;
    padding: 0.9rem 1.3rem 0.9rem 1.4rem;
}
.header {
    display: flex;
    // padding: 0.9rem 1.3rem 0 1.4rem;
}
.writer {
    font-family: "kopub-dotum-light";
    align-self: flex-end;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 0 0 0.2rem 0.2rem;
    font-size: 1rem;
    width: 9.6rem;
}
.date {
    font-size: 0.8rem;
    margin-left: 1.1rem;
    color: #989898;
    font-family: "kopub-dotum-light";
    align-self: flex-end;
    margin-bottom: 0.3rem;
}
.flexGrow {
    flex-grow: 1;
}
.emoji {
}
.commitBtn {
    font-family: 'kopub-dotum-medium';
    padding: 0.2rem 1rem;
    border-radius: 0.4rem;
    border: 1px solid #707070;
    cursor: pointer;
}
.content {
    border: none;
    display: block;
    max-width: 99%;
    min-width: 99%;
    min-height: 3.8rem;
    margin: 0.5rem auto 0 auto;
    box-sizing: border-box;
    outline: none;
    font-size: 1.1rem;
    font-family: 'kopub-dotum-light';
}
