$def_font: "kpub-dotum-medium";
$grey: #979797;

.Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.3rem;
}
.PageNumberWrapper {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.2rem;
    margin-right: 2rem;
}
.PageNumber:first-child {
    margin-top: 0rem;
}
.PageNumber {
    font-family: $def_font;
    margin: 0 0.5rem;
    font-size: 0.7rem;
    cursor: pointer;
}
