.header {
    z-index: 100;
    margin: 0 auto;
    width: 82%;
    padding: 1.2% 0;
    display: flex;
    font-size: 0.8rem;
}
.loginIcon{
    font-family: 'kopub-dotum-medium';
    margin-left: 1.3rem;
}
.headerIcon {
    font-family: 'kopub-dotum-medium';
    margin-left: 61px;
}
.thsixIcon{
    font-family: 'kopub-dotum-bold';
    margin-left: auto;
    margin-right: 12px;
}