a {
    text-decoration: none;
    color: unset;
}

.storyContainer {
    background-color: white;
    margin: 0 auto 0 auto;
    width: 84%;
    max-width: 1300px;
    min-height: 96.3%;
    padding: 6.1rem 0 4rem 0;
}

.pace--loader {
    background: #0076c0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    transform: translate3d(50%, 0, 0);
}
.slick-dots {
    bottom: -1.4rem !important;
}
.slick-dots li button:before {
    font-size: 8px !important;
}
@media (max-width: 1353px) {
    .storyContainer {
        width: 88%;
    }
}
@media (max-width: 600px) {
    .storyContainer {
        width: 93%;
        /* padding: 19vw 0 4rem 0; */
        padding: 14vw 0 4rem 0;
    }
}
