$def_font: "kpub-dotum-medium";
$grey: #979797;
.Container {
    display: flex;
    justify-content: center;
    padding: 3rem 0 2.1rem 0;
    min-height: unset;
}
hr {
    height: auto;
    width: 1px;
    background-color: rgba(151, 151, 151, 0.4);
    margin: 0 3.3rem 0 2.4rem;
    border: none;
}
.CategoryInfo {
    margin-top: 1.7rem;
}
$mainCatSize: 0.9rem;
.MainCategory {
    font-family: $def_font;
    display: inline-block;
    font-size: 1.7rem;
    padding: 0 0.3rem;
}
.MainCategory:hover {
    border-bottom: 1px solid rgba(151, 151, 151, 0.7);
}
.SlashCategory {
    font-family: $def_font;
    display: inline-block;
    vertical-align: text-bottom;
    color: $grey;
    margin-bottom: 0.2rem;
}
.SubCategoryWrapper {
    margin-top: 2.6rem;
    text-align: right;
}
.SubCategory:first-child {
    margin-top: unset;
}
.SubCategory {
    margin-top: 0.6rem;
    font-family: "kopub-dotum-bold";
    color: #8f8f8f;
}
.StoryComponentWrapper {
    width: 70%;
}
