$def_font: "kopub-dotum-medium";
$mainCatSize: 0.9rem;

.CategoryInfo {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.MainCategory {
    font-family: $def_font;
    display: inline-block;
    font-size: 1.7rem;
    padding: 0 0.3rem;
    &:hover {
        border-bottom: 1px solid rgba(151, 151, 151, 0.7);
    }
}
.SubCategoryWrapper {
    margin-top: 0.3vw;
}
.SubCategoryHeader {
    font-family: "kopub-dotum-bold";
    font-size: 0.9rem;
    color: #643900;
}
.SubCategoryContent {
    display: flex;
    justify-content: space-evenly;
}
.SubCategory{
    color: rgba(109, 109, 109, 0.557);
}
.Arrow {
    display: none;
    img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        margin-bottom: 0.2rem;
    }
}
.flip {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.hide {
    display: none;
}
@media (max-width: 1000px) {
    .Arrow {
        display: inline-block;
        width: 0.5rem;
        margin-left: 0.5rem;
        position: absolute;
    }
}
@media (max-width: 830px) {
    .CategoryInfo {
        width: 85%;
    }
}
