$def_font: "kopub-dotum-medium";
$grey: #979797;

.Container {
    display: flex;
    justify-content: center;
    padding: 3rem 0 2.1rem 0;
    min-height: unset;
}
hr {
    height: auto;
    width: 1px;
    background-color: rgba(151, 151, 151, 0.4);
    margin: 0 3.3rem;
    border: none;
}
.CategoryInfo {
    margin-top: 1.7rem;
}
$mainCatSize: 0.9rem;
.MainCategory {
    font-family: $def_font;
    display: inline-block;
    vertical-align: text-bottom;
    color: $grey;
    margin-bottom: 0.2rem;
    font-size: $mainCatSize;
    img {
        width: $mainCatSize;
        vertical-align: bottom;
    }
}
.SubCategory {
    font-family: "kopub-dotum-bold";
    display: inline-block;
    font-size: 1.4rem;
    padding: 0 0.3rem;
    &:hover {
        border-bottom: 1px solid rgba(151, 151, 151, 0.7);
    }
}
.StoryComponentWrapper {
    width: 70%;
}
.MobileCategoryInfo {
    display: none;
}
@media (max-width: 400px) {
    .StoryComponentWrapper {
        padding: 0 2.3vw;
    }
}
@media (max-width: 830px) {
    .StoryComponentWrapper {
        // 안자
        width: unset;
        padding: 0 1rem;
    }
}
@media (max-width: 1000px) {
    .Container {
        display: block;
    }
    .StoryComponentWrapper {
        margin: 0 auto;
    }
    .CategoryInfo,
    hr {
        display: none;
    }
    .MobileCategoryInfo {
        display: block;
    }
}
