.MainCategoryWrapper {
    padding: 0 0 0rem 0 !important;
    min-height: unset !important;
    width: 89% !important;
    height: 30rem;
    max-width: 2300px !important;
}
.Header {
    padding-top: 2.9rem;
    margin: 0 auto;
    width: 85%;
    font-size: 1.3rem;
    color: #2b2b2b;
    font-family: "kopub-dotum-bold";
}
.ContentWrapper {
    margin: 1rem auto 0 auto;
    width: 88%;
    font-size: 1.4rem;
}
table {
    width: 100%;
    margin-top: 3.3rem;
    margin-bottom: 7rem;
    border-collapse: collapse;
}
// 모든 스토리 라인의 th에 해당하는 class
.StoryLineTh {
    position: relative;
    border-left: 1px solid rgba(151, 151, 151, 0.6);
    padding: 0 0 0.8rem 1rem;
    height: 2.5rem;
    &:first-child {
        border-left: unset;
    }
    &:hover {
        transform: scale(1.03);
        transition: transform 0.4s;
    }
}
// 모든 스토리 라인의 title과 content wrapper에 해당하는 class
.StoryLineContentWrapper {
    position: absolute;
    bottom: 0.8rem;
    overflow: hidden;
}
.StoryLineTitle {
    font-family: "kopub-dotum-medium";
    text-align: left;
    color: #414141;
    font-size: 2.4rem;
    font-weight: normal;
}
.StoryLineContent {
    font-family: "kopub-dotum-medium";
    text-align: left;
    color: #414141;
    // font-size: 0.72rem;
    font-size: 0.77vw;
    font-weight: normal;
    margin-top: -0.5rem;
    height: 1.1rem;
}
th {
    vertical-align: top;
}
// 모든 스토리 라인 하단의 스토리의 th에 해당하는 class
.StoryLineStoryTh {
    border-top: 1px solid rgba(151, 151, 151, 0.6);
    border-left: 1px solid rgba(151, 151, 151, 0.6);
    &:first-child {
        border-left: unset;
    }
}
// adfit
.adfit{
    display: flex;
    justify-content: center;
    margin-top: 2.4rem;
}
// 모바일용
.MobileContentWrapper {
    display: none;
}

// to check
@media (min-width: 2000px) {
    .StoryLineContent {
        height: 1.6rem;
    }
}
@media (max-width: 1100px) {
    .MainCategoryWrapper {
        display: none;
    }
    .MobileContentWrapper {
        display: block;
    }
}
