$def_font: "kopub-dotum-medium";

.commentContainer {
    padding: 1.2rem 0 0.9rem 3.4rem;
    &:hover {
        transform: scale(1.02);
        transition: transform 0.4s;
    }
}
.commentContentWrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.3rem;
    margin-left: 2rem;
}
